circle{
    fill: #5f5f5f;
}

path{
    stroke:#5f5f5f;
    stroke-width:8px;
}

.small{
    fill:white;
}

.contained > .small{
    fill:#573d29;
}

.contained > circle,#rect{
    fill:#c0c0c0;
    stroke: none;
    opacity: 1;
}

#interactive{
    fill: #c0c0c0;
    stroke: #bd250d;
    stroke-width: 4px;
}

rect{
    opacity: 0;
}

path:hover{
    fill:#bd250d;
}

path:last-child{
    stroke:none;
}
